body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gift-pictures {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}

.Gifts {
  display: flex;
  flex-direction: row;
}

.Tree {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 500px;
  padding: 15px;
  margin: auto;
  border: 2px solid green;
}